html {
  --text-color: #000000;
  --navbar-bg-color: #fefefe;
  --bg-color: #ffffff;
  --bg-opacity-color: rgba(255, 255, 255, 0.9);
  --tint-color: #2cb1be;
  --border-color: #d6d6d6;
  --light-text-color: #8f8e94;
  --medium-text-color: #958e80;
  scroll-behavior: smooth;
}
.darkMode {
  --bg-color: #282828;
  --bg-opacity-color: rgba(35, 35, 35, 0.9);
  --text-color: #ffffff;
  --navbar-bg-color: #1e1e1e;
  --border-color: #363636;
}

* {
  color: #000000; /*fallback for IE*/
  color: var(--text-color);
  text-align: left;
  font-family: -apple-system-font, BlinkMacSystemFont, Open Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}

body {
  max-width: 100vw;
  background-color: #ffffff; /*fallback for IE*/
  background-color: var(--bg-color);
  margin: 0;
  margin-bottom: 25px;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
}

/* Reloading Sources */
#reloadingRepoWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  box-sizing: border-box;
  min-height: 130px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#reloadingRepoText {
  width: 100%;
  height: fit-content;
  color: white;
  text-align: center;
}
#reloadingRepoWrapper img {
  width: 45px;
  height: 45px;
}
